h1{
    font-size: larger;
}

form input{
    background: #fff;
    width: 250px;
    margin: 10px 10px;
    padding-left: 5px;
    border: solid 2px rgb(235, 235, 29);
    border-radius: 4px;
}

.save-button{
    background: greenyellow;
    border: 1px solid black;
    border-radius: 3px;
    width: 50px;
    cursor: pointer;
}

.cancel-button{
    background: rgb(148, 249, 253);
    border: 1px solid black;
    border-radius: 3px;
    width: 63px;
    cursor: pointer;
    margin-left: 5px;
}

h2{
    margin-top: 30px;
}

.list{
    background: rgb(252, 252, 166);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-top: 10px;
    padding: 10px 10px;
    border: solid 3px rgb(250, 250, 46);
    border-radius: 5px;
}

ul{
    background: rgb(252, 252, 166);
}

li{
    padding: 5px 10px;
    margin-bottom: 7px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    border: 1px solid yellow;
    border-radius: 5px;
}

.edit{
    color: black;
    background: rgb(233, 254, 92);
    border-radius: 3px;
    width: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.exclude{
    color: #fff;
    background: rgb(253, 136, 136);
    border-radius: 3px;
    width: 50px;
    cursor: pointer;
}

.view{
    color: black;
    margin-right: 5px;
    background: rgb(69, 227, 248);
    border-radius: 3px;
    width: 70px;
    cursor: pointer;
}

