* {
  padding: 0;
  margin: 0;
}

.container{
  background-image: linear-gradient(to top, yellow 1%, white 3%);
  background-image: linear-gradient(to right, yellow 1%, rgb(255, 255, 255) 15%, white 85%, yellow 99%); 
  height: 80vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  margin-top: 30px;
}

